.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  height: 10vh;
  background: linear-gradient(90deg, #1b1a1b,#a3f749);
  color: #fff;
  font-size: 20px;
}
.nav-title {
  font-size: 30px;
  font-weight: bold;
  color: lawngreen;
}
.nav-routes {
  display: flex;
  flex-wrap: wrap;
}
.sub-routes {
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  padding-bottom: 5px;
  margin: 10px;
  transition: all 0.1s ease-in-out;
}
.sub-routes:hover {
  cursor: pointer;
}
.sub-routes-active {
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(236, 68, 68);
}

.home {
  height: 90vh;
  background: #c0c0c0;
}
